<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Keys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Okx~Api~default</string>
                        <string>Okx~Secret~default</string>
                        <string>Okx~Word~default</string>
                        <string>Binance~Api~default</string>
                        <string>Binance~Secret~default</string>
                        <string>Bybit~Api~default</string>
                        <string>Bybit~Secret~default</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Intervals" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>default~1</string>
                        <string>0003~52</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Client.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>85.92.108.100</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
</configuration>